@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	font-size: 62.5%;
	font-family: lato, serif, sans-serif;
}

body {
	width: auto;
	height: 100vh;
	background-color: #c45844;
}

.bg-main {
	width: 100%;
	height: 100%;
	border: #c45844 solid 10px;
}
.bg-p1 {
	width: 100%;
	height: 100%;
	background-color: #458e9d;
	border-radius: 50px 50px 0px 0px;
}
.bg-p2 {
	width: 100%;
	height: 100%;
	background-color: #f0c300;
	border-radius: 0px 0px 50px 50px;
}

.content-p1 {
	width: 100%;
	height: 100%;
}
.p1,
.p2 {
	color: #c45844;
	font-size: 3rem;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.play {
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}
.number-p1,
.number-p2 {
	font-size: 5.2rem;
	color: #474645;
}

.current {
	background-color: #c45844;
	width: 150px;
	font-size: 2.5rem;
	color: #fefcfb;
	border-radius: 20px;
	text-align: center;
}

.containerBtn {
	position: absolute;
	z-index: 1;
	width: 90%;
	height: 100%;
}

.containerBtn2 {
	width: 100px;
	height: 100px;
}

.newGame,
.rollDice,
.hold {
	width: 100px;
	height: 30px;
	color: #c45844;
	font-weight: 700;
	background-color: #fefcfb;
	font-size: 1.5rem;
	border: 2px solid #c45844;
	border-radius: 600px;
}
.rollDice,
.hold {
	margin: 10px;
}
/* Dice */
.container-dice {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.the-dice {
	position: relative;
	width: 70px;
	height: 70px;
	transform-style: preserve-3d;
	animation: spin 20s infinite alternate-reverse;
}

.dice-roll {
	animation: spin 1s infinite alternate-reverse;
}

.dot {
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -10px 5px 5px -10px;
	border-radius: 20px;
	background-color: #c45844;
}

.side {
	position: absolute;
	background-color: #fff;
	width: 70px;
	height: 70px;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 2em;
}

.side:nth-child(1) {
	transform: translateZ(35px);
}

.side:nth-child(6) {
	transform: rotateY(90deg) translateZ(35px);
}

.side:nth-child(3) {
	transform: rotateY(-90deg) translateZ(35px);
}

.side:nth-child(4) {
	transform: rotateX(90deg) translateZ(35px);
}

.side:nth-child(5) {
	transform: rotateX(-90deg) translateZ(35px);
}

.side:nth-child(2) {
	transform: rotateY(-180deg) translateZ(35px);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
	top: 20%;
	left: 20%;
}

.four-3,
.five-3,
.six-4 {
	top: 20%;
	left: 80%;
}

.one-1,
.three-2,
.five-5 {
	top: 50%;
	left: 50%;
}

.four-2,
.five-2,
.six-3 {
	top: 80%;
	left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
	top: 80%;
	left: 80%;
}

.six-2 {
	top: 50%;
	left: 20%;
}

.six-5 {
	top: 50%;
	left: 80%;
}

@keyframes spin {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(1080deg) rotateY(1080deg) rotateZ(-1080deg);
	}
}

@media screen and (min-width: 576px) {
	.bg-p1 {
		border-radius: 50px 0px 0px 50px;
	}
	.bg-p2 {
		border-radius: 0px 50px 50px 0px;
	}
	.dice {
		width: 100px;
		height: 100px;
	}

	.side {
		width: 100px;
		height: 100px;
	}

	.side:nth-child(1) {
		transform: translateZ(50px);
	}

	.side:nth-child(6) {
		transform: rotateY(90deg) translateZ(50px);
	}

	.side:nth-child(3) {
		transform: rotateY(-90deg) translateZ(50px);
	}

	.side:nth-child(4) {
		transform: rotateX(90deg) translateZ(50px);
	}

	.side:nth-child(5) {
		transform: rotateX(-90deg) translateZ(50px);
	}

	.side:nth-child(2) {
		transform: rotateY(-180deg) translateZ(50px);
	}
	.p1,
	.p2 {
		margin-top: 0;
	}
	.number-p1,
	.number-p2 {
		font-size: 8.2rem;
	}
	.current {
		font-size: 4.5rem;
	}
	.containerBtn {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.containerBtn2 {
		width: auto;
		height: 30%;
	}
	.newGame {
		margin-top: 20px;
	}

	.rollDice,
	.hold {
		margin: 10px;
	}
}
@media screen and (min-width: 768px) {
	.newGame,
	.rollDice,
	.hold {
		font-size: 1.5rem;
		border-radius: 600px;
	}
	.containerBtn2 {
		margin-bottom: 10px;
	}
}
@media screen and (min-width: 992px) {
	.containerBtn2 {
		margin-bottom: 20px;
	}
	.newGame {
		margin-top: 50px;
	}
	.newGame,
	.rollDice,
	.hold {
		width: 200px;
		height: 50px;
	}
}
